# docker-compose.yml

services:
  # Build frontend
  frontend:
    build:
      context: .
      dockerfile: frontend/Dockerfile.frontend
    container_name: askle-frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
  
  # Build backend
  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile.backend
    container_name: askle-backend
    ports:
      - "8000:8000"
    environment:
      - SQL_DB_PATH=/app/backend/data/papers.db
      - VECTOR_INDEX_PATH=/app/backend/data/vector_index.faiss
      - VECTOR_METADATA_PATH=/app/backend/data/vector_metadata.pkl
      - HF_HOME=/app/backend/data/
      - DEEPSEEK_MODEL_PATH=/app/backend/data/hub/models--deepseek-ai--deepseek-r1-distill-qwen-1.5b
    command: >
      sh -c "uvicorn backend.app:app --host 0.0.0.0 --port 8000 --reload"