accelerate
aiohttp
asyncio
backoff
bs4
faiss-cpu
fastapi
huggingface-hub
motor
numpy==1.26.4
pydantic
react
requests
scholarly
scikit-learn
scipy
sentence-transformers
SQLAlchemy
starlette
torch
torchvision
transformers
typing
uvicorn
